<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body>
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index width mx-auto px2 my4">
        <%- partial('_partial/post/nav_global') %>
        <% if (is_post()) { %>
          <%- partial('_partial/post/nav_local') %>
        <% } %>
        <% if (!is_post()) { %>
        <%- partial('_partial/header') %>
          <% if (is_home()) { %>
            <h1 id="desktoptitle"><%- config.title %></h1>
          <% } else { %>
            <h1 id="pagetitle" itemprop="name headline">
              <%= page.title %>
            </h1>
            <% if (page.description) { %>
              <div id="pagedesc" ><%= page.description %></div>
            <% } %>
          <% } %>
        <% } %>
        <%- body %>
    </div>
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_mobile') %>
    <% } %>
    <%- partial('_partial/footer') %>
</body>
</html>
<%- partial('_partial/styles') %>
<%- partial('_partial/scripts') %>
